body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.linechat{
  border:2px solid red;
  margin:auto;
  margin-top: 80px;
  display:flex;
  justify-content:center;
  align-items:center;
  height:400px;
}